@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-rubik antialiased bg-white text-black dark:bg-black dark:text-white transition-colors duration-300;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-neutral-800 rounded-full;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #555, #999);
  border-radius: 100vh;
  border: 2px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #777, #bbb);
}
